/* .form-container {
  width: 300px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputsCont{
  width: 100% ;
}