#root{
    width: 100%;
    height: auto;
    min-height: 100vh;
    
    background-color: #202020;
}

*{
    font-family: 'QuickSand', sans-serif;

}
h2{
    font-size: 30px;
    text-align: center;
  
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'QuickSand', sans-serif;
  
  
    color: white;
}

h1, h2, h3, h4, h5, h6:hover{
    color: #b0d385;
}

input {
    all: unset;
    width: 95%;
    height: 30px;
  
    padding: 0 10px;
    border-radius: 6px;
  
    /* border-left: 0.5em solid #b0d385; */
    border: 0.1px solid #718359;
  
  
    font-family: 'QuickSand', sans-serif;
  
    color: white;
    background-color: #202020;
  
    transition: all 100ms ease;
  }
  
  input:focus-visible {
    border-left: 0.5em solid #808080;
    border-radius: 5px;
    transition: all 200ms ease;
    padding: 0 6.8px;
  }
  input:hover {
    border: 1.2px solid #939393;
    transition: all 150ms ease;
    cursor: text;
    padding: 0 10px;
  }
  


  button {
    all: unset;
  
    width: auto;
    height: 30px;
    border-radius: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #111111;
    color: #b0d385;
    box-shadow: 0px 0px 12px -8px #808080;
    
    cursor: pointer;
    transition: border-color 0.25s;
    transition: all 200ms ease;
}
button:hover {
    color: #111111;
    background-color: #b0d385;
    border-color: var(--state-2);
    transition: all 280ms ease;
    box-shadow: 0px 0px 5px -1px var(--shadow-card);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

  .divnameinput{
    width: 100%;
    color: white;
}